/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*--------------------*/

@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

    
body {
	font-family: 'Gilroy-Medium', sans-serif;
	font-size:17px;
}

body img{
	max-width: 100%;
}

.container{
	max-width: 940px;
	margin: auto;
}

/*--- header ---*/

.header{
	padding-bottom:104px;
}

.header__menu{
	padding:32px 0;
	display: flex;
    justify-content: space-between;
}

.header__menu a{
	line-height: 22.28px;
	color:rgba(130, 130, 130, 1);
	font-weight:bold;
}

.header__menu a:first-child{
	color:black;
}

.header__menu :last-child{
	margin-right:0px;
}

.header__info{
	margin:22.5px 0 30.5px 0 ;
	display:flex;
}

.header__name{
	font-size:47.34px;
	line-height: 58.61px;
	margin-right:297px;
	font-weight:bold;
}

.header__dop-info{
	margin-top:55px;
	margin-right:346.5px;
	line-height: 21.83px;
	white-space: nowrap;
}

.header__language{
	transform: rotate(-90deg);
	display:flex;
	white-space: nowrap;
}

/*--- section ---*/

.section{
	padding-top:120px;
	padding-bottom:96px;
}

.section__about-me{
	text-align: center;
	padding-bottom:86px;
}

h2{
	margin-bottom:17.5px;
	line-hight:42.09px;
	font-size:34px;
	font-weight:bold;
	text-align: center;
}

.section__about-me_info{
	margin-bottom:100px;
}

.section__about-me_info div{
	padding-bottom:21.5px;
	line-height: 21.5px;
}

.section__skills{
	padding-top:91px;
	padding-bottom:110px;
	text-align:center;
}

.section__info{
	line-height: 21.83px;
	margin-top:72px;
	margin-bottom:83.5px;
}

.section__program{
	display: flex;
	justify-content: space-between;
}

.section__program_block{
	text-align: center;
}

.section__program_block p{
	color:rgba(130, 130, 130, 1);
	line-height: 17.3px;
	font-size:14px;
	padding-bottom:40.5px;
}

.program-icon{
	padding:0 38.5px 24px 38.5px;
}

.section__rating img{
	padding-right:9px;
}

.program-icon_el{
	padding-right: 51.5px;
	padding-left:56.6px;
}

.section__portfolio{
	text-align:center;
	padding-top:113px;
}

.section__portfolio h2{
	margin-bottom:47px;
	line-height: 42px;
}

.portfolio__website{
	margin-bottom:99px;
	text-align: center;
}

.portfolio__website div{
	padding-top:44.5px;
}

.portfolio__website a{
	text-decoration: underline;
	color:black;
}

.portfolio div:last-child{
	margin-bottom:0;
}

/*--- footer ---*/

.footer{
	padding-top:114px;
	padding-bottom:123px;
}

.footer__contacts{
	text-align:center;
	padding-bottom:85px;
}

.footer__contacts h2{
	margin-bottom:20px;
}

.footer__contacts p{
	line-height:21.5px;
	font-size:18px;
	margin-bottom:30px;
}

.footer__contacts button{
	width: 180.5px;
	height: 42px;
	background-color: black;
	color: rgba(255, 255, 255, 1);
	font-size:18px;
	line-height: 22.28px;
	border-radius:44px;
	font-weight:600;
}

.footer__messengers_icons{

}

.footer__messengers_icons__body{
	display: flex;
	justify-content: space-between;
	max-width: 343px;
	margin-left: auto;
    margin-right: auto;
}

.footer__messengers_info{
	text-align: center;
	padding-top:46px;
}

.footer__messengers_info p{
	color: rgba(130, 130, 130, 1);
	line-height:16.98px;
	font-size:14px;
}


















